.body-container{
    background-color: #162B1E;
    min-height: 100vh;
    min-width: 100vw;
}
.background-container{
 
    background-color: #162B1E; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.home-container{
  
display: grid;
    justify-items: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    grid-template-rows: 1fr;
  
    
  }
  .main-container{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    height: 20px;
    justify-items: center;
    align-items: center;
    margin-top:0

  }

  .main-title{
      color: #FBCD8A;
      font-weight: 500;
      margin-bottom: 0;
  }
.main-container h1{
    font-family: 'Libre Bodoni', serif;
        /* font-family: 'Source Serif Pro', serif; */
    font-size: 80pt;
}
h2{
    justify-items: center;
    font-family: 'Libre Bodoni', serif;
    font-size: 20pt;
    text-align: center;
    color: #FFBD15
}

.main-button:hover{
    color:#FBCD8A;
}

.navRight {
    text-transform: capitalize !important;
    font-family: 'Libre Bodoni', serif !important

}

a {
    text-decoration: none;
}

.signInButton, .signupButton {
    background-color: #162B1E !important; 
    color:#FBCD8A !important;
}



/* .link-style{
    color: white;
    font-family: 'Archivo', sans-serif;
    text-decoration:none;

}


.link-style:hover{
    color: black;
   

} */


/* .submitButton {
    background-color: #162B1E !important; 
    color:#FFBD15 !important;
    font-family: 'Libre Bodoni', serif !important;
    text-transform: capitalize !important;

} */

.submitButton {
    background-color: #FBCD8A !important;
    color: #162B1E !important; 
    font-family: 'Libre Bodoni', serif !important;
    text-transform: capitalize !important;
}
.submitButton:hover {
    background-color: #162B1E !important; 
    color:#FBCD8A !important;
}

.deleteButton {
    background-color: #162B1E !important; 
    color:#FBCD8A !important;
    font-family: 'Libre Bodoni', serif !important;
    text-transform: capitalize !important;
}

.deleteButton:hover {
    color: #162B1E !important; 
    background-color:#FBCD8A !important;
}