.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.AppBar {
  background-color: #f44336;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

