.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.AppBar {
  background-color: #162B1E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

